@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:wght@400;700&display=swap');




:root{

    --white:#FFF;
    --black:#07043B;
    --gray:#C2C2C2;
    --blue:#2F65F8;
    --purple:#F8F8FE;
    --dark:#615F7E;
    --green:#3DA08F;
    --berry:#575988;
    --light:#DFE4F0;
    --green2:#71DFCC;
    


}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    background-color: var(white);
    min-height: 100vh;
     
}
.a1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
   display: flex;
   justify-content: flex-end;
   gap: 24px;
   color: var(--black);
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   font-weight: 400;

}

.bottom{
    display: flex;
    justify-content: space-around;
    width: 327px;
    height: 24px;
    margin: 24px;
}
.logo{
    
    height: 24px;
}
.img-1{
    width: 304px;
    height: 225px;
    margin: 74px 35px 40px 35px;
    
}
.img-1-dsk{
    display: none;
}
.h1-1{
    width: 320px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 24px;
}
.h3-1{
    width: 296px;
    text-align: center;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
}
.mail{
    color: var(--gray);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 14px 150px 14px 23px;
    stroke-width: 0.625px;
}
.mail2{
    color: var(--gray);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 11px 100px 9px 8px;
    stroke-width: 0.625px;
}
.button{
    width: 290px;
    height: 40px;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    background-color:var(--blue);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    
}
.button2{
    width: 265px;
    height: 32px;
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    background-color:var(--blue);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}


.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;


}
.btn-txt{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
}

.btn-txt2{
    font-family: 'Raleway', sans-serif;
    width: 98.412px;
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
}
#fname{
    width: 110px;
}

.rec{
    width: 375px;
    height: 900px;
    background-color: var(--purple);
    border-radius: 600px 600px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}
.img-2{
    width: 320px;
    height: 241px;
}
.stay{
    color: var(--black);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    margin: 87px 0px 24px 0px;
}
.never{
    width: 320px;
    color: var(--dark);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 16px;
}
.green{
   color: var(--green);
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   font-weight: 400;
   margin-right: 8px;

}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.underline{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.line{
    width: 130px;;
    height: 1px;
    background-color:  var(--green);

}
.card{
    background-color: var(--white);
    width: 280px;
    height: 169.101px;
    border-radius: 3.933px;
    margin-top: 40px;
    padding: 9px 12px 19px 26px
}
.brchyali{
    
     color: var(--black);
     font-family: 'Open Sans', sans-serif;
     font-size: 35.393px;
     font-weight: 400;
     line-height: 53.09px;
}
.k{
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 0.45px;
    color: var(--black);
}
.f{
    font-family: 'Open Sans', sans-serif;
    font-size: 6px;
    font-weight: 400;
    line-height: 11.798px; 
    letter-spacing: 0.3px;
    color: var(--black);
}
.names{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.oval{
    margin: 11px 7px 21px 0px;
}
.starter{
    width: 375px;
    height: 345px;
    background-color: var(--berry);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;


}
.h2-1{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 54px;
}
.txt{
    
    width: 280px;
    color: var(--white);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}
.gap{
    margin-top: 16px;
    margin-bottom: 24px;
}
.txt-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    
     width: 375px;
     height: 590px;
     background-color: var(--black);
 
}
.num{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    color: var(--white);
}
.phone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 32px;
    gap: 16px;

}
.fylo{
    margin-top: 65px;
    margin-left: 40px;
    margin-bottom: 32px;
}

.m-fylo{
    margin-top: 16px;
    margin-left: 40px;
    margin-bottom: 32px;
}
.about{
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    

}
.P{
    margin: 16px 0px 16px 0px;
}
.logo-3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 11px;
    margin-top: 32px;
}
.mini-logo:hover>path{

    fill: var(--blue);

    

}
.domxali{
    display: block;
}
.domxali2{
    display: none;
}
.circle{

    width: 27.061px;
    height: 27px;
    stroke-width: 0.796px;
    background-color: var(--black);
    border:1px solid;
    border-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}



@media(min-width:1440px){
    .domxali{
        display: none;
    }
    .domxali2{
        display: block;
    }
    .flexi{
        display: flex;
        flex-direction: row-reverse;
        gap: 90px;
        margin-top: 100px;
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 41px;
        margin-bottom: 86px;
        
        
    }
    .logo{
       margin-left: 80px;
       width: 166px;
       height: 49px;
    }
    .top{
        display: flex;
        justify-content: flex-end;
        gap: 57px;
        color: var(--black);
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-right: 80px
   
     }

     .a1{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 164px;

     }
     .h1-1{

        width: 627px;
        font-size: 40px;
        font-weight: 700;
        line-height: 60px; 
        color: var(--black);
        font-family: 'Raleway', sans-serif;
        text-align: left;
     }
     .h3-1{
        width: 585px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.531px;
        color: var(--black);
        text-align: left;
        margin-top: -9px;
            }
     .img-1{
        display: none;
     }
     .img-1-dsk{
        display: block;
     }
     .input{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        
    
    
    }
    .d-txt{
        display: flex;
        flex-direction: column;
    }
    footer{
    
        width:100%;
        height: 391px;
        background-color: var(--black);
        
    
   }
   body{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(white);
    min-height: 100vh;
     
}
.rec{
    width: 100%;
    height: 837.874px;
    background-color: var(--purple);
    border-radius: 100px 100x 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}
.foo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.starter{
    
    width: 100%;
    height: 370px;
    background-color: var(--berry);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 227px;
    padding-top: 50px;


}
.h2-1{
    color: var(--white);
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-top: -54px;
}
.txt{
    
    width: 533px;
    color: var(--white);
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.5px;

}
.stay{
    color: var(--black);
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    
    
}
.never{

    width: 529px;
    color: var(--dark);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}
.green{
   color: var(--green);
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   font-weight: 400;
   margin-right: 8px;

}
.brchyali{
    
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 67.5px; 
}
.k{
   font-family: 'Open Sans', sans-serif;
   font-size: 11px;
   letter-spacing: 0.55px;
   font-weight: 700;
   color: var(--black);
}
.f{
   width: 289px;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
   font-weight: 400;
   line-height: 23px; 
   letter-spacing: 0.5px;
   color: var(--black);
}
.green{
    color: var(--green);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
 
 }
 .card{
    background-color: var(--white);
    width: 356px;
    height: 215px;
    border-radius: 3.933px;    
}
#fname{
    width: 320px;
}
.button{
    width: 200px;
    height: 45px;
}
.stay{
    margin-top: 0px;
}
.never{
    color: var(--black);
    text-align: left;
}
.underline{
    align-items: flex-start;
}
.line{
    width: 166px;
}
.link{
    justify-content: flex-start;
}
.green:hover{
    color: var(--green2);
}  
.improve{
    width: 289px;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    margin-top: -20px;
    margin-bottom: 16px;

}     
.txt-3{
    display: flex;
    align-items: flex-start;
}
.mail2{
    width: 480px;
}















 } 
